*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, arial;
}
:root{
    --mainColor: rgb(241, 177, 0);
    --darkColor: #061623;
    --lightColor: aliceblue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 253, 251);
}
.form-container{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1.5px solid #eee;
    border-radius: 10px;

    & form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 300px;
        & img{
            width: 150px;
        }
        & h4{
            text-align: center;
        }
        & input:not(:last-child){
            padding: 10px;
            border: 2px solid #eee;
            outline: none;
            border-radius: 7px;
            background-color: transparent;
            font-size: 16px;
            font-weight: 600;
            width: 100%;
        }
        & textarea{
            background-color: transparent;
            padding: 10px;
            max-width: 100%;
            min-width: 100%;
            max-height: 150px;
            border: 2px solid #eee;
            border-radius: 7px;
            outline: none;
            font-size: 16px;
            font-weight: 600;
        }
        & input:last-child{
            background-color: var(--mainColor);
            padding: 10px;
            border-radius: 7px;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 600;
            color: var(--lightColor);
            width: 100%;
            cursor: pointer;
        }
        & input[type="file"]{
            border-style: dashed;

        }
    }
}