*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, arial;
}
/* les couleurs */
:root{
    --mainColor: rgb(241, 177, 0);
    --darkColor: #061623;
    --lightColor: aliceblue;
}
body{
    background-color: rgb(255, 253, 249);
}

/* header */
header{
    display: flex;
    background-color: white;
    border-bottom: 1.5px solid #eee;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}
header .logo img{
    width: 160px;
    margin-bottom: -5px;
}
header .btns{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .btns .links a {
    color: var(--darkColor);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    position: relative;
    transition-duration: 0.3s;
}
header .btns .links a:hover{
    color: var(--mainColor);
}
header .btns .links a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    left: 0;
    bottom: -3px;
    background-color: var(--mainColor);
    transition-duration: 0.3s;
    transform: scaleX(0);
}
header .btns .links a:hover::before{
    transform: scaleX(0.4);
}
header .btns > button{
    background-color: var(--mainColor);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--lightColor);
    cursor: pointer;
    transition-duration: 0.35s;
}
header .btns button:hover{
    background-color: rgb(211, 155, 0);
}
/* header */
header .btns .wrapper{
    display: flex;
    border: 2px solid #eee;
    border-radius: 7px;
}
header .btns .wrapper button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
header .btns .wrapper button a{
    text-decoration: none;
    color: var(--darkColor);
}
header .btns .wrapper .pannier span{
    background-color: var(--mainColor);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--lightColor);
    z-index: 100;
}
header .btns .wrapper button:last-child{
    border-left: 2px solid #eee;
}


.products{
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .product{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border: 2px dashed #eee;
        align-items: center;
        padding: 10px;

        & img{
            width: 50px;
        }
    }
}
.container{
    padding: 35px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;

    & tr:first-child{
        background-color: var(--mainColor);
        border-radius: 7px;
        & th{
            padding: 15px;
            color: var(--lightColor);
        }
        & th:first-child{
            border-radius: 8px 0 0 0;
        }
        & th:last-child{
            border-radius: 0 8px 0 0;
        }
        & th:first-child{
            text-align: start;
        }
    }
    & tr:not(:first-child){
        border-radius: 7px;
        background-color: white;
        border: 2px dashed #eee;
        & td{
            padding: 15px;
            & img{
                width: 60px;
            }
        }
        & td:first-child{
            text-align: start;
            display: flex;
            align-items: center;
        }
    }
}