*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
}
form{
    border: 2px solid #eee;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.041);
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    align-items: center;
    position: relative;

    & img{
        width: 160px;
    }
    & h3{
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
    }

    & > div{
        position: relative;
        width: 100%;
    }

    & > div > label{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        color: #aaa;
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        transition-duration: 0.25s;
        pointer-events: none;
    }
    & > div > input:is(:focus, :not(:placeholder-shown)){
        border-color: orange;
    }
    & > div > input:is(:focus, :not(:placeholder-shown)) ~ label{
        transform: translateY(-50%);
        top: 0;
        left: 10px;
        font-size: 12px;
        color: orange;
        padding: 0 2px;
    }
    & > div i{
        position: absolute;
        color: orange;
        font-size: 18px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition-duration: 0.25s;
    }
    & > div > input:is(:focus, :not(:placeholder-shown)) ~ i{
        opacity: 1;
    }
    & > div > input{
        background-color: transparent;
        border: 2px solid #eee;
        padding: 10px 10px 10px 35px;
        outline: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
    }
    & > div > input::placeholder{
        opacity: 0;
    }
    & > button{ /*submit btn*/
        color: white;
        padding: 10px;
        outline: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        transition-duration: 0.3s;
        border: none;
        background-color: orange;
        cursor: pointer;
        width: 100%;

        & i{
        margin-right: 7px;
        }
    }
    & > button:hover{
        background-color: rgb(227, 147, 0);
    }

    & a:last-child{
        padding: 10px;
        background-color: transparent;
        border-radius: 8px;
        border: 2px solid orange;
        text-decoration: none;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        transition-duration: 0.35s;
        color: orange;
        width: 100%;
        cursor: pointer;
        text-align: center;

        & i{
        margin-right: 7px;
        }
    }
    a:last-child:hover{
        background-color: #f6f6f6;
    }
}
#err{
    background-color: rgb(255, 233, 233);
    color: red;
    padding: 10px;
    border-radius: 7px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}