*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", "arial";
    outline: none;
    color: aliceblue;
}
:root{
    --mainColor: #d99800;
    --darkColor: #000c15;
    --textColor: #bcbcbc;
    --textOpacity: 0.65;
    --textLightColor: aliceblue;
}
body{
    background-color: var(--darkColor);
    overflow: hidden;
}
.section{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.section .content{
    width: 47%;
    padding-top: 20px;
}
.section .content img{
    width: 160px;
    margin-bottom: 10px;
}
.section h1{
    font-size: 50px;
    color: var(--textColor);
    line-height: 1.1;
}
.section h1 span{
    color: var(--mainColor);
}
.section p{
    opacity: var(--textOpacity);
    margin-top: 10px;
}
.section .content .btns{
    margin-top: 15px;
}
.section .content .btns a{
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--xColor);
    background-color: var(--mainColor);
    color: var(--textLightColor);
    border-radius: 7px;
    text-decoration: none;
    margin-right: 7px;
    transition-duration: 0.35s;
}
.section .content .btns a:hover{
    background-color: rgb(184, 120, 0);
}
.section .image{
    width: 50%;
    height: 100%;
}
.section .image img{
    width: 90%;
    border-radius: 20px;
}