*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", "arial";
}
/* les couleurs */
:root{
    --mainColor: rgb(241, 177, 0);
    --darkColor: #061623;
    --lightColor: aliceblue;
}
/* header */
header{
    display: flex;
    border-bottom: 1.5px solid #eee;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}
header .logo img{
    width: 160px;
    margin-bottom: -5px;
}
header .btns{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .btns .links a {
    color: var(--darkColor);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    position: relative;
    transition-duration: 0.3s;
}
header .btns .links a:hover{
    color: var(--mainColor);
}
header .btns .links a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    left: 0;
    bottom: -3px;
    background-color: var(--mainColor);
    transition-duration: 0.3s;
    transform: scaleX(0);
}
header .btns .links a:hover::before{
    transform: scaleX(0.4);
}
header .btns > button{
    background-color: var(--mainColor);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--lightColor);
    cursor: pointer;
    transition-duration: 0.35s;
}
header .btns > button:hover{
    background-color: rgb(211, 155, 0);
}
header .btns .wrapper{
    display: flex;
    border: 2px solid #eee;
    border-radius: 7px;
}
header .btns .wrapper button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
header .btns .wrapper button a{
    text-decoration: none;
    color: var(--darkColor);
}
header .btns .wrapper .pannier span{
    background-color: var(--mainColor);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--lightColor);
    z-index: 100;
}
header .btns .wrapper button:last-child{
    border-left: 2px solid #eee;
}
/* image principale */
section.homebanner{
    padding: 20px;
}
section.homebanner img{
    object-fit: contain;
    border-radius: 20px;
    width: 100%;
}
/* les produits */
section.produits{
    padding: 0 35px;
}
section.produits > h1{
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}
section.produits > p {
    text-align: center;
    color: var(--darkColor);
    opacity: 0.8;
    margin-bottom: 30px;
    font-weight: 400;
}
.produits-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.produits-container .produit1{
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    transition-duration: 0.35s;
    margin-bottom: 20px;
    width: 19%;
}
.produits-container .produit1:hover{
    transform: translateY(-5px);
}
.produits-container .produit1 .image{
    margin-bottom: 10px;
}
.produits-container .produit1 h3{
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
}
.produits-container .produit1 .btns{
    display: flex;
    justify-content: space-between;
}
.produits-container .produit1 .btns a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--mainColor);
    font-weight: 600;
    width: 70%;
    border-radius: 7px;
    color: var(--lightColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.produits-container .produit1 .btns a:hover{
    background-color: rgb(220, 162, 0);
}
.produits-container .produit1 .btns form{
    width: 25%;
}
.produits-container .produit1 .btns form button{
    padding: 10px;
    transition-duration: 0.35s;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border: none;
    text-decoration: none;
    width: 100%;
    border-style: solid;
    border-width: 2px 2px 5px 2px;
    border-color: var(--darkColor);
    background-color: transparent;
    border-radius: 10px;
    color: var(--darkColor);
}

.produit1 img{
    width: 100%;
    object-fit: cover;
}
@media (width < 1100px) {
    .produits-container .produit1{
        width: 24%;
    }
}
@media (width < 1000px) {
    .produits-container{
        justify-content: start;
        gap: calc(1% / 2);
    }
    .produits-container .produit1{
        width: 33%;
    }
}
/* footer */
footer{
    margin-top: 40px;
    padding: 10px 35px;
    background-color: var(--darkColor);
}
footer .liens{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .liens img{
    width: 150px;
}
footer .liens ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
footer .liens ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #818181;
    transition-duration: 0.4s;
}
footer .liens ul li a:hover{
    color: #bdbdbd;
}
footer .copyright{
    border-top: 1px solid #818181;
    padding: 10px;
    color: #818181;
    text-align: center;
}